@model Walden.Data.Models.Book
<div class="card">
    <div class="card-header">
        @Model.Name

    </div>
    <div class="card-body">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id =   Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>